.carousel {
  position: absolute;
  left: 200px;
  top: 50px;
  width:50%;
  height:400px;
}
.carousel-inner > .item > img {
  width: 100%;
  height: 400px;
}
.carousel-caption > h2 {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
}
.carousel-caption > h2 > span {
  color: white;
  font: bold 20px/45px Helvetica, Sans-Serif;
  letter-spacing: -1px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7); padding: 10px;
}
#wells{
  position: relative;
  top: 500px;
}
.nieuws {
  border-style: solid;
  border-width: 2px;
}
#oldtownroad {
  position: absolute;
  top:50px;
  left:550px;
  width:400px;
}
#hongkong {
  position: absolute;
  top:560px;
  left:550px;
  width:400px;
}
.wellimgs {
  width: 280px;
  height: 300px;
}
.image {
  position: relative;
  width: 300px;
  display: inline;
}
.image > h2{
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
}
.image > h2 > span{
  color: white;
  font: bold 20px/45px Helvetica, Sans-Serif;
  letter-spacing: -1px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7); padding: 10px;
}
