.carousel{
  position: absolute;
  width: 100%;
  height: 200px
}
.carousel-inner > .item > img {
  width: 100%;
  height: 500px;
}
.carouselfotos{
  width: 800px;
  height: 200px;
}

.carousel-caption > p {
  border-style: solid;
  border-width: 2px;
  border-color: white;
  background-color: white;
  color: black;
}

.text{
  border-style: solid;
  border-width: 2px;
}

.formulier{
  margin-top: 100px;
  width: 200px;
}
